div {
    font-size: .9rem;
    margin: 0;
    padding: 10px;
    width:  imgsize;
    height: imgsize;
    border: 4px solid transparent;
  } 
  
  .container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  
  div:nth-child(1) {
      position: fixed;
      top: 175;
      left: 500;
      margin: 0;
      border-bottom: 1px solid #ddd;
      box-shadow: 0 3px 3px #aaa;
      padding: 0;
      width: 100px;
      height: var(--nav-height);
      background-color: white;

  }
  
  div:nth-child(2) {
    border-color: green;
    background-color: grey;
    
  }
  
  div:nth-child(3) {
    border-color: green;
    background-color: grey;
  }
  
  div:nth-child(4) {
    border-color: green;
    background-color: grey;
  }
  div:nth-child(5) {
    border-color: green;
    background-color: grey;
  }
  
  div:nth-child(6) {
    border-color: green;
    background-color: grey;
  }
  div:nth-child(7) {
      position: fixed;
      top: 175;
      right: 500;
      margin: 0;
      border-bottom: 1px solid #ddd;
      box-shadow: 0 3px 3px #aaa;
      padding: 0;
      width: 100px;
      height: var(--nav-height);
      background-color: white;

  }