
body{
  
}

div {
    font-size: .9rem;
    margin: 0;
    padding: 10px;
    width:  imgsize;
    height: imgsize;
    border: 4px solid transparent;
  } 

  .container {
    display:flex;
    flex-direction:row;
  }
  
  .slide {
    width: 500px;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0;
    transition: left 1s;
  } 
  .slideshow {
    display: flex;
    left:0; 
    overflow:hidden;

  }


  .text {
    flex-direction:column;
    width:100px; 
    overflow:hidden;

  }

  .arrow {
    height: 50px; 
    top: 175;
    right: 500;
  }

  img  {
    height: 250px;
    width: 150px;
    vertical-align: middle;
    float: left;

  }

h1 {
  font-size: 42px;
  line-height: 50.4px;
  justify-content: center;
  margin-bottom: 50px;
  margin: 10% auto;
}